.photo-grid {
  display: flex;
}

.flex-container-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: auto;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.responsive-img {
  width: 100%;
  height: auto;
  margin: 1px;
}
.responsive-img:hover {
  opacity:0.9;
  transition: 0.25s;
}

.primary-img {
  border-radius: 6px 0 0 6px;
  min-width: 150px;
  max-width: 300px;
}

 .secondary-img {
  min-width: 75px;
  max-width: 150px;
}

.secondary-img-top {
  border-radius: 0 6px 0 0;
}

.secondary-img-bottom {
  border-radius: 0 0 6px 0;
}

.photo-btn-container {
  position: relative;
}

.photo-btn-container .photo-btn {
  position: absolute;
  top: 75%;
  left: 45%;
  padding: 5px;
  border-radius: 3px;
  border-style: solid;
  border-width: 0.5px;
  font-size: 7px;
  width: 100%;
  height: auto;
  max-width: 70px;
  cursor: pointer;
}

